header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 25px 30px;

    nav {
        display: flex;
        align-items: center;
    }

    a,span {
        color: #fff;
    }

    span {
        margin-right: 10px;
    }
    
    button {
        cursor: pointer;
        color: #fff;
        padding: 5px;
        width: 40px;
        background: tomato;
        border: 0;
        border-radius: 8px;
    }

    .nav-user,
    .nav-login {
        display: flex;

        

        li {
            margin: 0 5px;
        }
    }
}